*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background-color: #333333;
  color: white;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;

}
.innerDiv{
  margin-top: 8rem;
  text-align: center;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.quantity {
  width: 20rem;
  margin: 0 auto;
  border: 1px solid black;
  background-color: blueviolet;
}
input{
  appearance: none;
  border: none;
  background-color: #eee;
  outline: none;
  width: 25%;
  max-width: 100px;
  padding: .5rem 1rem;
  border-radius: .5rem;
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}
button, a{
  color: white;
  padding: .3rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  background: blue;
  line-height: 1;
  text-decoration: none;
}